<h1>The login route as appears in Jerry's bear file</h1>

<h2><%=  @users %></h2>


<%if(session[:user_id]!=nil)%> 
<div><%= session[:user_id] %></div>
<%else%><div>nobody</div>
<%end%>
is logged in
<br>


<br>
<a href="/games/index">games/index</a>
<a href="/games/new">games/new</a>
<a href="/games/edit">edit/index</a>
<a href="/games/show">games/show</a>
<a href="/users/index">users/index</a>
<a href="/users/new">users/new</a>
<a href="/users/edit">users/edit</a>
<a href="/users/show">users/show</a>
<a href="/sessions/new">sessions/new</a>
