<h1>Show Profile Info</h1>




<a href="/games/index">games/index</a>
<a href="/games/new">games/new</a>
<a href="/games/edit">edit/index</a>
<a href="/games/show">games/show</a>
<a href="/users/index">games/index</a>
<a href="/users/new">games/new</a>
<a href="/users/edit">games/edit</a>
<a href="/users/show">games/show</a>
<a href="/sessions/new">sessions/new</a>