<h1>Games</h1>

<h2>Show an Individual Game with Info</h2>

<%=@msg%>

I haven't actually saved anything to the DB yet. Just testing to see if the routing works. 
</br>


<%if(session[:user_id]!=nil)%> 
<div><%= session[:user_id] %></div>
<%else%><div>nobody</div>
<%end%>
is logged in
<br>

<div id="user_nav">
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
 
</div>

<br>
<a href="/games/index">games/index</a>
<a href="/games/new">games/new</a>
<a href="/games/edit">edit/index</a>
<a href="/games/show">games/show</a>
<a href="/users/index">users/index</a>
<a href="/users/new">users/new</a>
<a href="/users/edit">users/edit</a>
<a href="/users/show">users/show</a>
<a href="/sessions/new">sessions/new</a>
