<head>
	<%= stylesheet_link_tag 'mapcreate'%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUNY0CfcYkzq9dihhJ_qKOEfyMDUdUKzo ">
    </script>
<%= javascript_include_tag 'map'%>
  </head>

<div id="map-canvas" class="map"></div>
 <div class="create-box container left">
  <form action="/games" method="post" class="create-form col s6 blue-grey lighten-5">
    <input  type="hidden"
                       name="authenticity_token"
                       value="<%= form_authenticity_token %>">
    <div class="divider"></div>
      <input name="game[type_of]" value="Baseball" type="radio" id="baseball-box" />
      <label for="baseball-box">Baseball</label>
      <input name="game[type_of]" value="Basketball" type="radio" id="basketball-box" />
      <label for="basketball-box">Basketball</label>
      <input name="game[type_of]" value="Football" type="radio" id="football-box" />
      <label for="football-box">Football</label>
      <input name="game[type_of]" value="Soccer" type="radio" id="soccer-box" />
      <label for="soccer-box">Soccer</label>
    <div class="divider"></div>
      <div class="input-field col s6">
        <input type="time" name="game[time]" class="timepicker">
        <input type="date" name="game[date]" class="datepicker">
        <div class="input-field col s6">
          <input id="max_players" name="game[max_players]" type="number" min="2" max="18" class="validate">
          <label for="max_players">Max # of Players</label>
        </div>
      </div>
      <div class="input-field col s6">
        <input id="game_title" name="game[name]" type="text" class="validate" length="30">
        <label for="game_title">Game Title</label>
    </div>
        <div class="input-field col s6">
          <textarea id="game_d" name="game[description]" class="materialize-textarea" length="120"></textarea>
          <label for="game_d">Game Description</label>
    </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input placeholder="Street Address"id="icon_prefix" id="address" name="game[address]" type="text" class="validate">
          <label for="icon_prefix">Address</label>
          <input placeholder="City"id="city" name="game[city]" type="text" class="validate">
          <input placeholder="State" id="state" name="game[state]" type="text" class="validate">
    </div>
    <a class="waves-effect waves-red btn grey darken-1">CANCEL</a>
    <a class="waves-effect waves-light btn teal lighten-2" type="submit">READY TO PLAY!</a>
  </form>
</div>
