<div class="container">
  <form class="col s6">
    <div class="row">
      <p>
      <input type="checkbox" class="filled-in" id="baseball-box" />
      <label for="baseball-box">Baseball</label>
      </p>
      <p>
      <input type="checkbox" class="filled-in" id="basketball-box" />
      <label for="basketball-box">Basketball</label>
      </p>
      <p>
      <input type="checkbox" class="filled-in" id="football-box" />
      <label for="football-box">Football</label>
      </p>
      <p>
      <input type="checkbox" class="filled-in" id="soccer-box" />
      <label for="soccer-box">Soccer</label>
      </p>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s6">
        <select class="browser-default">
          <option value="" disabled selected>Start Time</option>
          <option value="1">12:00pm</option>
          <option value="2">12:30pm</option>
          <option value="3">1:00pm</option>
        </select>
        <select class="browser-default">
          <option value="" disabled selected>Date</option>
          <option value="1">July 17th</option>
          <option value="2">July 18th</option>
          <option value="3">July 19th</option>
        </select>
        <select class="browser-default">
          <option value="" disabled selected>Max # of players</option>
          <option value="1">4</option>
          <option value="2">5</option>
          <option value="3">6</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="game_title" type="text" class="validate" placeholder="E.g. '3-on-3 Half Court'">
        <label for="game_title">Game Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
          <textarea id="game_d" class="materialize-textarea"></textarea>
          <label for="game_d">Game Description</label>
        </div>
    </div>
  </form>
</div>
