<h1>show each game</h1>
<a href="/games/index">games/index</a>
<a href="/games/new">games/new</a>
<a href="/games/edit">edit/index</a>
<a href="/games/show">games/show</a>
<a href="/users/index">games/index</a>
<a href="/users/new">games/new</a>
<a href="/users/edit">games/edit</a>
<a href="/users/show">games/show</a>
<a href="/sessions/new">sessions/new</a>



  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>



